header {
    display: flex;
    width: 100%;
    height: 82px;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-right: 40px;
}

