.l-header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 82px;
    background-color: #ffffff;
    border-bottom: 1px solid #595959;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    //コンテンツの前面に設定
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-right: 40px;
}

/* スマホのみパディングを追加 */
@media screen and (max-width: 768px) {
    header {
        padding: 20px 16px;
    }
}
