header {
    display: flex;
    width: 1200px;
    height: 82px;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-right: 40px;
}

.title {
    margin-left: 40px;
}