/* サムネイル&ロゴデザイン */
.logo__item {
    margin: 0 40px;
    max-width: 100%;
}

.logo {
    display: flex;
    max-width: 100%;
    margin-bottom: 44px;
    margin-top: 68px;
}

/* 上部のコンテンツ */
.content__top {
    display: flex;
    flex-direction: column;
    padding: 120px 174px;
    align-items: center;
    text-align: center;
}

/* 下部のコンテンツ */
.content__bottom {
    display: flex;
    flex-direction: column;
    padding: 200px 174px;
    align-items: center;
}

/* コンテンツ共通 */
.content__desc {
    margin-top: 20px;
    margin-bottom: 40px;
}

/* 画像ギャラリー */
.images {
    display: flex;
    gap: 20px;
    max-width: 100%;
    margin-bottom: 75px;
    overflow: hidden;
}

/* セクションタイトル */
.section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.section__title p {
    padding: 40px 0;
}

/* 記事全体 */
.article {
    margin: 100px 40px;
}

.article__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 80px;
    padding: 80px 0px;
    box-sizing: border-box;
}

.article__text-group h1 {
    margin-bottom: 30px;
}

.article__text-group {
    white-space: normal;
    max-width: 100%;
    overflow-wrap: break-word;
}

/* 下部の画像 */
.catch-img {
    max-width: 100%;
    align-items: center;
}

/* ボタン共通 */
.button {
    display: flex;
    padding: 8px 12px 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

