/* 画像共通 */
img {
    max-width: 100%;
}

/* タイトル */
.title__about {
    text-align: left;
    margin-top: 44px;
    margin-bottom: 80px;
}

/* 内容 */
.our-story {
    display: grid;
    grid-template-columns: 180px 1fr;
    text-align: left;
    padding-bottom: 100px;
}

.about__owner {
    display: flex;
}

.owner__text {
    margin-left: 20px;
}

.story__title {
    margin: 70px 0;
}

.story__img {
    display: flex;
    gap: 20px;
}

.story__text {
    margin: 70px 0;
    display: block;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: left;
    max-width: 600px;
    align-self: stretch;
    height: 408px;
    box-sizing: border-box;
}

.announce__text {
    margin: 70px 0;
    display: block;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: left;
    max-width: 600px;
    align-self: stretch;
    height: 238px;
    box-sizing: border-box;
}

.announce > .button {
    margin-bottom: 80px;
    color: #2C2825;
}

/* ボタン共通 */
.button {
    display: inline-flex;
    padding: 8px 12px 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
