/* 下部のコンテンツ */
.content__bottom__gallery {
    display: flex;
    flex-direction: column;
    padding: 150px 40px;
    align-items: center;
    align-self: stretch;
}

/* コンテンツ共通 */
.content__desc {
    margin-top: 20px;
    margin-bottom: 40px;
}

/* ボタン共通 */
.button {
    display: flex;
    padding: 8px 12px 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

/* 画像共通 */
img {
    max-width: 100%;
}


/* ギャラリー共通（共通・スマホ用レイアウト） */
.title__gallery {
    margin-bottom: 80px;
    margin-top: 44px;
    text-align: left;
}

.content__title.caption1 {
    text-align: left;
}

.flower__list {
    gap: 10px;
    margin-bottom: 100px;
}

//拡大ビュー
    .modal__view {
        display: none; // 通常は非表示
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);

        &.is-active {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .modal__close {
            background: none;
            border: none;
            outline: none;
            position: absolute;
            top: 20px;
            right: 50px;
            color: white;
            font-size: 60px;
            cursor: pointer;
        }
    }

    .modal__img {
        width: 80%;
        height: auto;
        max-width: 1200px;
        max-height: 80vh;
        object-fit: contain;
    }

.flower__title {
    text-align: left;
    margin-bottom: 15px;
}

.list__item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px 20px;
}

.flower__img {
    width: 100%;
    display: block;
}

/* タブレット用にレイアウトを変更 */
@media screen and (min-width: 768px) {
    .flower__list {
        gap: 10px;
        margin-bottom: 100px;
    }

    .flower__title {
        text-align: left;
        margin-bottom: 15px;
    }

    .list__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px 20px;
    }

    .flower__item--last {
        grid-column: 1 / 3;
    }

    .content__title.caption1 {
        margin-bottom: 40px;
    }
}

/* PC用にレイアウトを変更 */
@media screen and (min-width: 1024px) {
    .flower__list {
        display: grid;
        grid-template-columns: 180px 1fr;
        gap: 10px;
        margin-bottom: 100px;
    }

    .flower__title {
        text-align: left;
        margin-bottom: 15px;
    }

    .list__item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px 20px;
    }

        .flower__item--last {
        grid-column: 3/3;
    }
}



/* サービス共通（共通・スマホ用レイアウト） */

.services__list {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.services__item {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    gap: 40px;
}

.services__text h1 {
    text-align: left;
}

.services__text {
    flex: 1;
    min-width: none;
    display: flex;
    flex-direction: column;
    white-space: normal;
    max-width: 100%;
    word-break: break-word;
}

.services__img {
    margin-left: 20px;
    margin-right: auto;
    flex-shrink: 0;
}

.services__img img {
    width: 100%;
    height: auto;
    display: block;
}

.content__services {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 100px;
}

.content__title.caption1 {
    margin-bottom: 40px;
}

/* タブレット用にレイアウトを変更 */
@media screen and (min-width: 768px) {
    .content__services {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 100px;
    }

    .content__title.caption1 {
        margin-bottom: 40px;
    }

    .services__item {
        display: flex;
        flex-direction: row;
    }
}

/* PC用にレイアウトを変更 */
@media screen and (min-width: 1024px) {
    .content__services {
        display: grid;
        grid-template-columns: 240px 1fr;
        margin-top: 100px;
    }

    .services__item {
        display: flex;
        flex-direction: row;
    }
}
