/* 下部のコンテンツ */
.content__bottom__gallery {
    display: flex;
    flex-direction: column;
    padding: 150px 40px;
    align-items: center;
    align-self: stretch;
}

/* コンテンツ共通 */
.content__desc {
    margin-top: 20px;
    margin-bottom: 40px;
}

/* ボタン共通 */
.button {
    display: flex;
    padding: 8px 12px 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

/* 画像共通 */
img {
    max-width: 100%;
}

/* ギャラリー共通 */
.title__gallery {
    margin-bottom: 80px;
    margin-top: 44px;
    text-align: left;
}

.content__title.caption1 {
    text-align: left;
}

.flower__list {
    gap: 10px;
    margin-bottom: 100px;
}

.flower__title {
    text-align: left;
    margin-bottom: 15px;
}

.list__item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px 20px;
}

.flower__img {
    width: 100%;
    display: block;
}

@media screen and (min-width: 768px) {
    .flower__list {
        gap: 10px;
        margin-bottom: 100px;
    }

    .flower__title {
        text-align: left;
        margin-bottom: 15px;
    }

    .list__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px 20px;
    }

    .flower__item--last {
        grid-column: 1 / 3;
    }

    .content__title.caption1 {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .flower__list {
        display: grid;
        grid-template-columns: 180px 1fr;
        gap: 10px;
        margin-bottom: 100px;
    }

    .flower__title {
        text-align: left;
        margin-bottom: 15px;
    }

    .list__item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px 20px;
    }

        .flower__item--last {
        grid-column: 3/3;
    }
}

/* サービス共通 */

.services__list {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.services__item {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    gap: 40px;
}

.services__text h1 {
    text-align: left;
}

.services__text {
    flex: 1;
    min-width: none;
    display: flex;
    flex-direction: column;
    white-space: normal;
    max-width: 100%;
    word-break: break-word;
}

.services__img {
    margin-left: 20px;
    margin-right: auto;
    flex-shrink: 0;
}

.services__img img {
    width: 100%;
    height: auto;
    display: block;
}

.content__services {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 100px;
}

.content__title.caption1 {
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .content__services {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 100px;
    }

    .content__title.caption1 {
        margin-bottom: 40px;
    }

    .services__item {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .content__services {
        display: grid;
        grid-template-columns: 240px 1fr;
        margin-top: 100px;
    }

    .services__item {
        display: flex;
        flex-direction: row;
    }
}
