/* 下部のコンテンツ */
.content__bottom__gallery {
    display: flex;
    flex-direction: column;
    padding: 150px 40px;
    align-items: center;
    align-self: stretch;
}

/* コンテンツ共通 */
.content__desc {
    margin-top: 20px;
    margin-bottom: 40px;
}

/* ボタン共通 */
.button {
    display: flex;
    padding: 8px 12px 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

/* 画像共通 */
img {
    max-width: 100%;
}

/* ギャラリー共通 */
.title__gallery {
    margin-bottom: 80px;
    margin-top: 44px;
    text-align: left;
}

.content__title.caption1 {
    text-align: left;
}

.flower__list {
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 10px;
    margin-bottom: 100px;
}

.flower__title {
    text-align: left;
    margin-bottom: 15px;
}

.list__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px 20px;
}

/* サービス共通 */
.content__services {
    display: grid;
    grid-template-columns: 240px 1fr;
    margin-top: 100px;
}

.services__list {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.services__item {
    display: flex;
    padding: 30px 0;
    gap: 40px;
}

.services__text h1 {
    text-align: left;
}

.services__img {
    margin-left: 20px;
    margin-right: 0;
}